.settings-tabs {
    display: flex;
    margin-bottom: 1rem;
    gap: 10px;
    overflow-x: auto;  /* 스크롤 가능하도록 설정 */
    white-space: nowrap;  /* 줄 바꿈 방지 */
    padding-bottom: 5px; /* 스크롤바와의 여백 */
    scrollbar-width: thin; /* 파이어폭스용 */
    scroll-behavior: smooth; /* 부드러운 스크롤 */
}

.settings-tabs::-webkit-scrollbar {
    height: 6px; /* 스크롤바 높이 */
}

.settings-tabs::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 3px;
}

.settings-tab-button {
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    background-color: var(--background-primary);
    flex-shrink: 0; /* 크기 축소 방지 */
}

.settings-tab-button.active {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
}

.settings-tab-content {
    display: none;
}

.settings-tab-content:not(.hidden) {
    display: block;
}

.setting-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.setting-container input[type="checkbox"] {
    margin-right: 10px;
}

.setting-container label {
    margin-right: 10px;
}

.setting-container input[type="text"] {
    flex: 1;
}

.setting-item {
    border-top: none !important; /* Setting 내부에서 자동 추가되는 선 제거 */
    margin: 0 !important; /* 불필요한 여백 제거 */
    padding: 0 !important;
  }
  
/* 기본 버튼 스타일 */
.clickable-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* 활성화된 버튼 스타일 */
.clickable-icon.active {
    background-color: var(--interactive-accent); /* Obsidian의 주요 색상 */
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

/* 아이콘 강조 효과 */
.clickable-icon.active svg {

    stroke: white;
}

/* 활성화된 버튼 호버 효과 */
.clickable-icon.active:hover {
    background-color: var(--interactive-accent-hover);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}